In [1]:
from pandas import *
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from matplotlib.pyplot import *
from matplotlib.figure import *
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg as f
info=read_csv('football.csv')
info.head(5)

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [2]:
info.dropna()
print(list(info.columns))

['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special', 'Preferred Foot', 'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position', 'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until', 'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause']

In [4]:
info.drop(info.columns[[1,2,4,5,6,7,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36]],axis=1,inplace=True)
info.head(5)

,Unnamed: 0,Age,Potential,Club,Preferred Foot,CAM,RAM,LM,LCM,CM,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,31,94,FC Barcelona,Left,93+2,93+2,91+2,84+2,84+2,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,33,94,Juventus,Right,88+3,88+3,88+3,81+3,81+3,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,26,93,Paris Saint-Germain,Right,89+3,89+3,88+3,81+3,81+3,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,27,93,Manchester United,Right,NaN,NaN,NaN,NaN,NaN,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,27,92,Manchester City,Right,88+3,88+3,88+3,87+3,87+3,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [5]:
print(list(info.columns))

['Unnamed: 0', 'Age', 'Potential', 'Club', 'Preferred Foot', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause']

In [6]:
info.drop(info.columns[[3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37]],axis=1,inplace=True)
info.head(5)

,Unnamed: 0,Age,Potential,Preferred Foot,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,31,94,Left,68.0,72.0,59.0,94.0,48.0,22.0,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,33,94,Right,95.0,88.0,79.0,93.0,63.0,29.0,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,26,93,Right,61.0,81.0,49.0,82.0,56.0,36.0,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,27,93,Right,67.0,43.0,64.0,12.0,38.0,30.0,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,27,92,Right,63.0,90.0,75.0,91.0,76.0,61.0,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [7]:
print(list(info.columns))

['Unnamed: 0', 'Age', 'Potential', 'Preferred Foot', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause']

In [8]:
info.drop(info.columns[[4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]],axis=1,inplace=True)
info.head(5)

   Unnamed: 0  Age  Potential Preferred Foot
0           0   31         94           Left
1           1   33         94          Right
2           2   26         93          Right
3           3   27         93          Right
4           4   27         92          Right

In [27]:
foot=get_dummies(info,columns=['Preferred Foot'],drop_first=True)
foot.head(5)

   Unnamed: 0  Age  Potential  Preferred Foot_Right
0           0   31         94                     0
1           1   33         94                     1
2           2   26         93                     1
3           3   27         93                     1
4           4   27         92                     1

In [28]:
age=get_dummies(info,columns=['Age'])
age.head()

,Unnamed: 0,Potential,Preferred Foot,Age_16,Age_17,Age_18,Age_19,Age_20,Age_21,Age_22,...,Age_35,Age_36,Age_37,Age_38,Age_39,Age_40,Age_41,Age_42,Age_44,Age_45
0,0,94,Left,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,94,Right,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,93,Right,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,93,Right,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,92,Right,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
new_info=concat([info,foot,age],axis=1)
new_info.head(5)
new_info.drop(new_info.columns[[1,2,3,4,5]],axis=1,inplace=True)
new_info.head(5)

,Preferred Foot_Right,Age_16,Age_17,Age_18,Age_19,Age_20,Age_21,Age_22,Age_23,Age_24,...,Age_35,Age_36,Age_37,Age_38,Age_39,Age_40,Age_41,Age_42,Age_44,Age_45
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
from sklearn.linear_model import *
x=new_info.iloc[:,1:]
y=new_info.iloc[:,1]
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)
re=LogisticRegression(solver='lbfgs',random_state=0)
re.fit(x_train,y_train)
predict=re.predict(x_test)
print(predict)
h=classification_report(y_test,predict)
print(h)
j=accuracy_score(y_test,predict)
print(j)
k=confusion_matrix(y_test,predict)
print(k)

[0 0 0 ... 0 0 0]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4544
           1       1.00      1.00      1.00         8

    accuracy                           1.00      4552
   macro avg       1.00      1.00      1.00      4552
weighted avg       1.00      1.00      1.00      4552

1.0
[[4544    0]
 [   0    8]]